.container{
    display: flex;
    justify-content: center;
    padding: 100px 200px;
}
.registration_form{
    flex: 1 1 0;
    width: min-content;
    font-size: 34px;
    display: flex;
    padding: 20px 120px;
    background: green;
    gap: 50px;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
    max-width: 500px;
}
.registration_form label{
    text-align: center;
    white-space: nowrap;
    padding: 10px;
}
.registration_form input{
    padding: 20px;
}
.registration_form button{
    padding: 20px;
}
