.container{
    padding: 20px;
    width: fit-content;
}
.list{
    padding: 10px 20px;
    margin: 5px 20px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    overflow-y: auto;
    gap: 20px;
    background-position: right;
    background-size: cover;
    align-items: flex-end;
}
.message{
    word-wrap: break-word;
    max-width: 70%;
    background: lightblue;
    box-sizing: border-box;
    min-height: fit-content;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.message .sender{
    align-self: flex-end;
    font-size: 18px;
    font-style: italic;
}
.message .text{
    font-size: 20px;
}
.message .timestamp{
    color: blue;
    align-self: flex-start;
}
.message.left{
    align-self: flex-start;
    background: white;
}
.panel{
    margin-top: 0;
}
.panel input,
.panel button{
    padding: 20px 50px;
    font-size: 24px;
}
.background_selector{
    display: flex;
    gap: 5px;
}
.background_selector button{
    flex: 1 1 0;
    height: 50px;
    border-radius: 10px;
}