.form{
    flex: 1 1 0;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    padding: 20px 120px;
    gap: 50px;
    align-items: stretch;
    justify-content: space-between;
    align-self: center;
    justify-self: center;
}
.container{
    width: min-content;
    max-width: 500px;
    background: orange;
}
.container .header{
    text-align: center;
}
.form label{
    text-align: center;
    white-space: nowrap;
    padding: 10px;
}
.form input{
    padding: 20px;
}
.form button{
    padding: 20px;
}